/*------------------PAGINA--------------------------------*/
body{
    margin: 0;
}
header{
    background-color: lightblue;
    height: 100px;
}

section{
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    background-color: white;
    height: 600px;
    width: 100%;
    background: url(../imagenes/fondo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

footer{
    background-color: aquamarine;
    height: 100px;
}

/*---------------------PERSONAJE-----------------------------------*/

.personaje {
    width: 92px;
    height: 300px;
    background: url(../imagenes/parado.png)repeat-x; /*agregar spreet sheet personaje parado*/
    animation: parado 0.4s steps(3) infinite ;
    position: absolute;
    left: 100px;
    bottom: 0;
}

.personajeCorriendo {
    width: 148px;
    height: 300px;
    background: url(../imagenes/correr.png)repeat-x;
    animation: corriendo 0.5s steps(6) infinite ;
    position: absolute;
    left: 100px;
    bottom: 0;

}

.personajeSaltando {
    width: 139px;
    height: 300px;
    background: url(../imagenes/salto2.png)repeat-x;
    animation: saltando 1s steps(9) infinite ;
    position: absolute;
    left: 100px;
    bottom: 0;
}
.personajeAgachado {
    width: 160px;
    height: 150px;
    background: url(../imagenes/agachado.png)repeat-x;
    animation: agachado 0.5s steps(3) infinite ;
    position: absolute;
    left: 100px;
    bottom: 0;
}
@keyframes parado {
    0%{background-position: 0}
    100%{background-position: 281px}
}

@keyframes corriendo {
    0%{background-position: 0}
    100%{background-position: 900px}
}

@keyframes saltando {
    0%{background-position: 0}
    100%{background-position: 1260px}
}

@keyframes agachado {
    0%{background-position: 0}
    100%{background-position: 480px}
}



/*--------------------------------OBSTACULO/PREMIO---------------------------------*/
.obstaculo{
    border: solid 2px black;
    position:absolute;
    top: 70%;
    left: 1000px;
}

.premio {
    width: 81px;
    height: 83px;
    background: url(../imagenes/monedas.png)repeat-x;
    animation: premio 1s steps(11) infinite ;
    position: relative;
}

@keyframes premio {
    0%{background-position: 0}
    100%{background-position: 879px}
}

.obstaculoSerp {
    width: 45px;
    height: 40px;
    background: url(../imagenes/obstaculoSerp.png)repeat-x;
    animation: obstaculoSerp 1s steps(12) infinite ;
    position: absolute;
    right: -45px;
    bottom: 0;
}

@keyframes obstaculoSerp {
    0%{background-position: 0}
    100%{background-position: 535px}
}

.obstaculoMurg {
    width: 270px;
    height: 200px;
    background: url(../imagenes/obstaculoMurg.png)repeat-x;
    animation: obstaculoMurg 1s steps(6) infinite ;  
    position: absolute;
    right: -270px;
    bottom: 400px;
}
@keyframes obstaculoMurg {
    0%{background-position: 0}
    100%{background-position: 1618px}
}


