header{
    background-color: lightblue;
    height: 100px;
}

section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 600px;
}

footer{
    background-color: aquamarine;
    height: 100px;
}

.personajeCaminando{
    width: 148px;
    height: 200px;
    margin: auto;
    background: url(../imagenes/correr.png)repeat-x;
    animation: corriendo 1.5s steps(6) infinite ;
    position: relative;
    top: 30%;
    right: 40%;
}

.personajeSaltando{
    width: 125px;
    height: 230px;
    margin: auto;
    background: url(../imagenes/salto.png)repeat-x;
    animation: corriendo 1.5s steps(9) infinite ;
    position: relative;
    top: 30%;
    right: 40%;
}

@keyframes corriendo {
    0%{background-position: 0}
    100%{background-position: 900px}
}

@keyframes saltando {
    0%{background-position: 0}
    100%{background-position: 1200px}
}