header{
    background-color: lightblue;
    height: 100px;
}

section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 600px;
    background: url(../imagenes/fondo.png);
    background-position: center;
}

footer{
    background-color: aquamarine;
    height: 100px;
}
.personaje {
    width: 92px;
    height: 300px;
    margin: auto;
    background: url(../imagenes/parado.png)repeat-x; /*agregar spreet sheet personaje parado*/
    animation: parado 0.4s steps(3) infinite ;
    position: relative;
    top: 30%;
    right: 10%;
}

.personajeCorriendo {
    width: 148px;
    height: 300px;
    margin: auto;
    background: url(../imagenes/correr.png)repeat-x;
    animation: corriendo 0.5s steps(6) infinite ;
    position: relative;
    top: 30%;
    right: 10%;
}

.personajeSaltando {
    width: 139px;
    height: 300px;
    margin: auto;
    background: url(../imagenes/salto2.png)repeat-x;
    animation: saltando 1s steps(9) infinite ;
    position: relative;
    top: 20%;
    right: 10%;
}
.personajeAgachado {
    width: 118px;
    height: 300px;
    margin: auto;
    background: url(../imagenes/agachado.png)repeat-x;
    animation: agachado 0.2s steps(2) infinite ;
    position: relative;
    top: 30%;
    right: 10%;
}
@keyframes parado {
    0%{background-position: 0}
    100%{background-position: 281px}
}

@keyframes corriendo {
    0%{background-position: 0}
    100%{background-position: 900px}
}

@keyframes saltando {
    0%{background-position: 0}
    100%{background-position: 1260px}
}

@keyframes agachado {
    0%{background-position: 0}
    100%{background-position: 235px}
}

.premio {
    width: 81px;
    height: 83px;
    background: url(../imagenes/monedas.png)repeat-x;
    animation: premio 1s steps(11) infinite ;
    position: relative;
}


@keyframes premio {
    0%{background-position: 0}
    100%{background-position: 879px}
}

.obstaculoSerp {
    width: 45px;
    height: 40px;
    background: url(../imagenes/obstaculoSerp.png)repeat-x;
    animation: obstaculoSerp 1s steps(12) infinite ;
    position: relative;
    top: 40%;
    right: 50%;
}


@keyframes obstaculoSerp {
    0%{background-position: 0}
    100%{background-position: 535px}
}
.obstaculoMurg {
    width: 270px;
    height: 200px;
    background: url(../imagenes/obstaculoMurg.png)repeat-x;
    animation: obstaculoMurg 1s steps(6) infinite ;
    position: relative;
    top: 5%;
    right: 40%;   
}


@keyframes obstaculoMurg {
    0%{background-position: 0}
    100%{background-position: 1618px}
}