.busqueda {
   justify-content: center;

}
.busqueda-avanzada {
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px ;
    height: 550px;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-style: hidden;
    padding-left:16px;
    background: #FFFFFF;
    margin-right: 20px;
}
.busqueda-btn-grandes {
    height: 400px;
}

.resultados-busqueda {
    margin-left: 20px;
    margin-right: 0px;
    
}
.resultados-busqueda-variable{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultados-busqueda-variable .card-busqueda-variable {
    width: 600px;
}
.form-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 360px;
}

.busqueda-avanzada h3 {
    width:200px;
    margin: top 25px;;
}

.text-notificacion-busqueda {
    width: 100%;
    margin-right: 4%;
}

.btn-filtrar {
    height: 40px;
    border-radius: 25px;
}

.contenido-grupos h5 ,.contenido-grupos h6 {
    width: 300px;
}

.icon-groups {
    margin-left: 0px;
}

.img-avatar-grupo {
 border-radius: 25px;
}

.icon-busqueda-variable {
    color: black;
}

.circle-back , .circle-search-busqueda{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    margin-right: 4%;
}

.circle-back {
    background-color:#651287;
    color: white;
}
.circle-search-busqueda {
    background-color:rgb(233, 226, 226);
    text-decoration: none;
}
.modal-busqueda-nav {
    width: 363px;
    height: 450px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 11.5%;
    left: 75%;
    background-color: white;

}

.container-avatar-vet .card-busqueda:hover {
    background-color: rgb(213, 210, 210);
}
.circle-search-busqueda .search-busquedaModal-violet {
    color: #651287;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h5search-violet {
    color: #651287;
}
.search-busquedaModal {
    color: #323232;
}

.card-busqueda-modal h5 {
    width: 200px;
}

.linkBuscarVeterinarios {
    text-decoration: none;
}
.card-busqueda-primera {
    margin-top: 4%;
}
.h5comun {
    font-weight: normal;
}
.modal-busqueda-invisible{
    display: none;
}