
.contenedor-medio-conver {
    height: 570px;
}
.text-mensajes p {
    margin: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.585);
}

.container-conversacion {
    border-radius: 15px 15px 15px 15px ;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    width: 600 px;
    height: 570px;
    display: flex;
    flex-direction: column;
    padding:4%;
}

.container-conversacion .card-avatar {
    margin-top: 5%;
  
    width: 90%;
}

.container-conversacion .img-avatar {
    height: 70px;
    width: 70px;
}
.textavatar-conversacion {
    display: flex;
    align-items: center;
}

.cam-conver {
    margin-left: 380px;
    border-radius: 25%;
}
.cam-conver:hover {
    background-color: #E8E8E8;
}
.viñeta-violeta {
    width: 330px;
    height: 100%;
    border-radius: 0px 15px 15px 15px ;
    background-color:#651287;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.viñeta-violeta p {
    color: white;
    margin-left: 10px;
}

.viñeta-gris {
    width: 330px;
    border-radius: 15px 15px 0px 15px ;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40%;
}

.dobletilde {
    margin-right: 10px;
}

.viñeta-gris p {
    margin-left: 10px;
}

.respuesta {
    display: flex;
    flex-direction: column;
}

.msj-conversacion {
    justify-content: space-between;
    background-color: #7e6c8540;
    width: 528px;
    height: 65px;
    display: flex;
    align-items: center;
}
.escribir-msj {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    width: 550px;
}

.input-conver::placeholder{
    color:black;
    font-size: 16px;
    font-weight: bold;
}

.circle-send {
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px ;
    background-color:#651287;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.enviar {
    margin-left:15px;
    color: white;
}