@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


/*------------------Estilos de la NavBar------------------*/

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.navBar .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.navBar .searchBar-mi-cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.navBar .marcada {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #651287;
    margin-bottom: 5px;
}


.contenedor-search {
    background-color: #E8E8E8;
    width: 70%;
    border-radius: 20px;
    display: flex;
   
}

.input-search {
    width: 70%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border: 0px;
}

.icon-search {
    display: flex;
    margin-left: 10px;
    margin-right: 5px;
    height: 25px;
    color: rgba(0, 0, 0, 0.551);

    margin-top: 6px;
}
.avatar-perfil {
    margin-left: 20px;
}

/*------------------Estilos del Body-----------------*/
.contenido {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    border:solid 1px blue ;
}
/*---------------------Contenedor izquierdo----------------------*/
.container-izq {
    width: 360px;
    height: 100%;
    border-radius: 25px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
}

.container-search-amigos{
    margin-left: 17px;
}
.container-amigos{
    margin-top: 18px;
}
.card-avatar {
    width: 328px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.text-avatar-card {
    margin-left: 20px;
}
.text-avatar-card h5, .text-avatar-card h6 {
    margin: 0px;
}
.text-avatar-card h6 {
    color: rgba(0, 0, 0, 0.500);
}
.img-avatar {
    width: 45px;
    height:45px;
}

/*---------------------------------------CONTENEDOR CENTRO------------------------*/
.container-center {
    width: 600px;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

/*-----------------------PUBLICAR HISTORIA-------------------*/
.publicar-historia{
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 154px;
    border-radius: 25px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-bottom: 40px
}

.container-avatar-search {
    display: flex;
}

.img-avatar-historia {
    margin-left: 20px;
    margin-right: 26px;
}
.iconos-elementos-historia {
    display: flex;
    justify-content: space-around;
}
.icon-historia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-historia p {
    color: rgba(0, 0, 0, 0.500);
}
/*---------------------CARD---------------------*/
.container-historias {
    width: 600px;
    height: 600px;
    border-radius: 25px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.text-avatar-card h4 {
    color: rgba(0, 0, 0, 0.500);
    margin: 0;
}
.text-avatar-card h3 {
    margin:0;
}

.container-historias .card-avatar {
    margin-top: 12px;
    margin-left: 17px;
}

.container-historias  .iconos-elementos-historia {
    margin-top: 20px;
}

.container-historias p {
    margin: 12px 12px 12px 20px;
}


/*------------------------CONTENEDOR DERECHO--------------------------*/

.container-der {
    width: 360px;
    height: 100%;
}
/*----VETERINARIOS FAMOSOS----*/
.container-vet-famosos {
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-avatar-vet {
    margin-left: 18px;
}
.container-avatar-vet .card-avatar{
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;   
}

.container-vet-famosos h3 {
    margin-left:17px;
}

/*-------PUBLICIDAD-------*/
.container-publicidad {
    height: 483px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card-publicidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 18px;
}
.img-publicidad {
    width: 120px;
    height: 120px;
}
.text-publicidad{
    margin:17px;
}
.text-publicidad h5{
    margin: 0px;
}





