
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada .nombre{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 24px;
    /* identical to box height, or 25% */

    letter-spacing: 0.15px;

    color: #651287;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portada .imagen{
    border-radius: 100px;
}

.portada .col-2{
    display: flex;
    width: 20%;
    padding: 50px;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
}

.portada .formulario ,  .formulario-registrarse{
    display: flex;
    flex-direction: column;
}

.portada input , .input-registrarse{
    background: #FFFFFF;
    border: 1px solid rgba(101, 18, 135, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 10px 0px;
}

.portada .btn-submit, .btn-submit-registrarse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    margin: 20px 0px;
    width: 100%;
    padding: 10px 16px;
    background: #651287;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.portada .btn-submit-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    margin: 20px 0px;
    width: 100%;
    padding: 10px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #651287;
    border-radius: 4px;
}

.portada .link{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.btn-texto{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-texto-2{
    color: #651287;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-submit:hover,.btn-submit:focus, 
.btn-submit-registrarse:hover,.btn-submit-registrarse:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-0.25em);
}


.btn-submit-2:hover,
.btn-submit-2:focus {
  transform: translateY(-0.25em);
}

#btn-registro:hover,
#btn-registro:focus {
    transform: translateY(-0.25em);
}
#crearCuenta{
    text-decoration: none;
}

/*----------------Modal--------------*/

.modal-oculto {
    display: none;
}

.modal-registrarse {
    box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25),0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px ;
    height: 660px;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: hidden;
    margin: 20px 0px;
    padding: 10px 16px;
    background: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 40%;

}

.formulario-registrarse {
    width: 310px;
    height: 425px;
    justify-content: space-around;

}

.modal-registrarse p ,.col-2 p{
    display: flex;
    font-size: 36px;
    color: #414848;
    justify-content: center;
}

.formulario-registrarse a {
    margin-top: 10px;
}

.icon-cerrar-registrarse {
    color:#651287;
    margin-left: 400px;
}

.btn-submit-registrarse {
   padding: 10px 0px 10px 0px;
}